.root {
  @apply cursor-pointer inline-flex rounded-sm leading-6 transition ease-in-out duration-150 font-semibold text-center justify-center uppercase border border-transparent items-center;
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}

/* Variant */
.text {
  @apply bg-primary text-primary border-none;
}

.contained {
  @apply bg-secondary text-accents-1 shadow-sm;
}

.contained:hover {
  @apply bg-accents-0 text-primary border border-secondary;
}

/* Size */
.normal {
  @apply px-10 py-4;
}

.slim {
  @apply px-4 py-2 transform-none normal-case;
}

.icon {
  @apply px-2 py-2;
}

.icon:hover {
  @apply text-accents-6;
}

/* Color */
.secondary {
  @apply bg-primary text-primary border-accents-4;
}

/* Other */
.round {
  @apply rounded-full;
}

.loading {
  @apply bg-accents-1 text-accents-3 border-accents-2 cursor-not-allowed;
}

.active {
  @apply bg-accents-1 border-secondary;
}

.disabled,
.disabled:hover {
  @apply text-accents-4 border-accents-2 bg-accents-1 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
