.categoriesList {
  @apply flex flex-nowrap space-x-3;
}

.categoriesList::-webkit-scrollbar {
  @apply hidden;
}

.rightListGradient, .leftListGradient {
  @apply h-full absolute top-0;
  pointer-events: none;
}

.rightListGradient {
  right: 0;
  width: 4rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.leftListGradient {
  left: 0;
  width: 4rem;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
