.root {
  @apply flex justify-center relative overflow-hidden rounded-2xl
  m-4 md:mx-6 shadow-lg;
  background: linear-gradient(45deg, var(--secondary), var(--accents-8));
  min-height: 24rem;
}

@screen md {
  .root {
    min-height: 36rem ;
  }
}

.content {
  @apply flex flex-col flex-1 justify-end
  md:justify-center md:px-12 md:max-w-screen-md
  lg:max-w-screen-lg
  xl:max-w-screen-xl
  2xl:max-w-screen-2xl;
}
.root:after {
  @apply absolute opacity-40 inset-0 bg-repeat-space w-full h-full block;
  background-image: url('/bg-products.svg');
  content: '';
}

.landingBannerBgText {
  @apply absolute text-accents-0 font-bold;
  font-size: 8rem;
  line-height: 100%;
  top: 80px;
  left: -40px;
  opacity: 0.03;
}
