.swatch {
  box-sizing: border-box;
  @apply mr-3 inline-flex items-center justify-center cursor-pointer
  p-0 shadow-none border-accents-3 border box-border select-none;
  margin-right: calc(0.75rem - 1px);
  overflow: hidden;
  width: 48px;
  height: 48px;
}

.swatch::before,
.swatch::after {
  box-sizing: border-box;
}

.swatch:hover {
  @apply transform scale-110 bg-hover;
}

.swatch > span {
  @apply absolute;
}

.active {
  @apply border-accents-9 border-2;
  padding-right: 1px;
  padding-left: 1px;
}

.textLabel {
  @apply w-auto px-4;
  min-width: 3rem;
}

.active.textLabel {
  @apply border-accents-9 border-2;
  padding-right: calc(1rem - 1px);
  padding-left: calc(1rem - 1px);
}

.slim {
  @apply text-sm;
}
