.root {
  @apply flex flex-col w-full;
  min-height: 100vh;
}

.gradientLine {
  @apply w-full;
  height: 4px;
  background: linear-gradient(90deg, #e2792d 0%, #fbff34 54.69%, #23bdff 100%);
}

.header {
  @apply mb-4;
}

.logo {
  @apply flex justify-center p-6 bg-secondary;
  background-image: url('/bg-products.svg');
}

.cartDrawerContent {
  @apply pt-6;
  max-height: 80vh;
}
