.root {
  @apply flex flex-col w-full;
  min-height: 100vh;
}

.gradientLine {
  @apply w-full;
  height: 4px;
  background: linear-gradient(90deg, #E2792D 0%, #FBFF34 54.69%, #23BDFF 100%);
}

.header {
  margin: 0 -1.5rem 1rem;
}

.logo {
  @apply flex justify-center p-6 bg-secondary;
  background-image: url("/bg-products.svg");
}

.cartDrawerContent {
  @apply pt-6;
  max-height: 80vh;
}
