.root {
  @apply relative max-h-full w-full box-border
  bg-no-repeat bg-center bg-cover transition-transform
  ease-linear cursor-pointer max-w-[480px];
  height: 100% !important;

  &:hover,
  &:focus {
    & .squareBg:before {
      transform: scale(0.98);
    }

    & .productImage {
      transform: scale(1.0625);
    }

    & .productTitle > span,
    & .productPrice,
    & .wishlistButton {
      @apply bg-secondary text-secondary;
    }

    &:nth-child(4n + 1) .productTitle > span,
    &:nth-child(4n + 1) .productPrice,
    &:nth-child(4n + 1) .productDiscount,
    &:nth-child(4n + 1) .wishlistButton {
      @apply bg-violet-light text-white;
    }

    &:nth-child(4n + 2) .productTitle > span,
    &:nth-child(4n + 2) .productPrice,
    &:nth-child(4n + 2) .productDiscount,
    &:nth-child(4n + 2) .wishlistButton {
      @apply bg-orange text-white;
    }

    &:nth-child(4n + 3) .productTitle > span,
    &:nth-child(4n + 3) .productPrice,
    &:nth-child(4n + 3) .productDiscount,
    &:nth-child(4n + 3) .wishlistButton {
      @apply bg-pink-light text-white;
    }

    &:nth-child(4n + 4) .productTitle > span,
    &:nth-child(4n + 4) .productPrice,
    &:nth-child(4n + 4) .productDiscount,
    &:nth-child(4n + 4) .wishlistButton {
      @apply bg-cyan text-white;
    }
  }
}

.squareBg,
.productTitle > span,
.productPrice,
.productDiscount,
.wishlistButton {
  @apply transition-colors ease-in-out duration-500;
}

.squareBg {
  @apply transition-colors absolute inset-0 z-0;
  background-color: #212529;
}

.squareBg:before {
  @apply transition ease-in-out duration-500 bg-repeat-space w-full h-full block;
  background-image: url('/bg-products.svg');
  content: '';
}

.simple {
  & .squareBg {
    @apply bg-accents-0;
  }

  & .productTitle {
    font-size: 1rem;

    & span {
    }
  }

  & .productPrice {
    @apply text-sm;
  }
}

.productTitle {
  @apply max-w-full w-full;

  span {
    @apply p-2.5
    bg-primary font-bold
    text-primary tracking-wide;
    line-height: 2.25rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

.productPrice {
  @apply py-2.5 px-2.5  mt-1
  bg-primary font-semibold
  text-primary leading-extra-loose tracking-wide;
}

.productDiscount {
  @apply absolute text-lg font-bold rounded-tl-xl
  bottom-0 right-0 text-red bg-primary p-2;
}

.imageContainer {
  @apply flex items-center justify-center h-full;
  overflow: hidden;

  & > span {
    @apply min-w-full max-h-full;
  }
}

.productImage {
  @apply transform transition-transform duration-500 object-cover;
}
