.section {
  @apply flex flex-col items-center text-primary py-6 lg:py-8 relative;
}

.section:before {
  @apply w-full h-full bg-repeat-space absolute;
  content: '';
  top: 0;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background-image: url('/bg-products.svg');
  pointer-events: none;
}

.reversedText {
  @apply text-secondary;
}

.content {
  @apply flex flex-col sm:flex-row w-full md:justify-center max-w-6xl;
}

.button {
  @apply my-4;
}

.productImage {
  @apply relative shadow-lg overflow-hidden mr-6 rounded-r-2xl bg-accents-2;
  height: fit-content;
  max-width: 500px;
}

.textContent {
  @apply px-6 mt-4 max-w-md;
}

@screen sm {
  .productImage {
    min-width: 300px;
  }
}

@screen md {
  .content {
    @apply items-end;
  }
  .productImage {
    @apply rounded-2xl mx-6;
    min-width: 400px;
  }
}

@screen lg {
  .productImage {
    min-width: 500px;
  }
}
