.section {
  @apply flex flex-col items-center text-primary py-6 lg:py-8;
}

.reversedText {
  @apply text-secondary;
}

.content {
  @apply flex flex-col sm:flex-row w-full md:justify-center max-w-6xl;
}

.button {
  @apply my-4;
}

.productImage {
  @apply relative shadow-lg overflow-hidden mr-6 rounded-r-2xl;
  height: fit-content;
}

.textContent {
  @apply px-6 mt-4 max-w-md;
}

@screen sm {
  .productImage {
    min-width: 300px;
  }
}

@screen md {
  .content {
    @apply items-end;
  }
  .productImage {
    @apply rounded-2xl mx-6;
    min-width: 400px;
  }
}

@screen lg {
  .productImage {
    min-width: 500px;
  }
}
