.section {
  background-color: #5A102239;
  color: white;
  font-family: 'Ubuntu', apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h3andp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
}
.h4andp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}
.h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.button {
  @apply bg-transparent border-primary border-2 text-secondary mb-8;
}

/*.productImage {*/
/*  height: 100%;*/
/*}*/
